 body {
    background-image:url(coffeeshopretrato.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
  }
  header {
    text-align: center;
    background-color: black;
    padding: 5px;
    font-size: 10px;
    color: white;
}

header p {
    font-size: 18px;
    color:white;
}

nav ul {
    list-style: none;
    display: flex;
    background-color: #ffaa66;
    font-size: 20px;
    padding: 10px;
    justify-content: center;
    border-style: outset;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color:black;
    font-weight: bold;
}

section {
    padding: 40px;
    color: #fff;
}

#banner {
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.377);
    padding: 1%;
    border-radius: 10000px;
    border-style: outset;
}

#banner h2 {
    font-size: 28px;
}

#menu h2 {
    font-size: 20px;
    padding: 1%;
    border-radius: 10px;
}

#menu {
    list-style: none;
    text-align: left;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.629);
    padding: 1%;
    border-radius: 10px;
    padding: 1%;
    border-radius: 30px;
    border-style:outset;
    margin-bottom: 5%;
    margin-left: 90px;
    margin-top: 2%;
    margin-right: 90px;
    width: fit-content;
   
}

#menu li {
    font-size: 20px;
    margin-bottom: 20px;
  
}


#espacos {

    margin-bottom: 20px;
    border-radius: 10px;
    border-style: outset;
    background-color: rgba(0, 0, 0, 0.629);
    border-radius: 10px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.629);
    padding: 1%;
    border-radius: 10px;
    margin-left: 90px;
    margin-right: 400px;
    display: flex;
}


.imagem-espaco {
    margin-top: 100px;
}


   
#localizacao {
    max-width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.629);
    border-style: outset;
    padding: 1%;
    border-radius: 10px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.629);
    padding: 1%;
    border-radius: 10px;
    font-size: 20px;
    padding: 1%;
    border-radius:10px;
    color:#fff;
    background-color:rgba(0, 0, 0, 0.629);
    margin-left: 90px;
    margin-right: 1000px;
}



#contato {
    font-size: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.629);
    padding: 1%;
    border-radius: 10px;
    border-style: outset;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.629);
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 50px;
    margin-left: 90px;
    margin-right: 1000px;
}


footer {
    text-align: center;
    color: #fff;
    background-color:black;
    padding: 10px;
    position: absolute;
    bottom: -2622;
    width: 100%;
}